/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn {
  text-align : center;
  padding    : 5px 20px;
  border:0;
  display: block;
  text-transform: uppercase;
  
  @include breakpoint(phone-port) {
    width : 100%;
  }

  &:hover {
    @include opacity(0.9);
  }

  /* Buttons - TYPE */
  &.block { display : block; }
  &.inline { display: inline-block; }
  &.full { width : 100%; }

  /* Buttons - SIZE */
  &.small { }
  &.big { }
  &.medium { }

  /* Buttons - THEME */
  &.default { }
  &.action {}
  &.cancel {}
  &.disabled {
    @include opacity(0.5);
  }
}


