/* ==========================================================================
   FORMS AND INPUTS
   ========================================================================== */
.form-item {
  margin : 0 0 10px 0;
  width  : 100%;

  input, textarea {
    outline : none;

    &:focus {
      border : 2px solid $first-color;
    }
  }

  textarea {
    min-height : 200px;
  }

  /* Input TYPE */
  &.inline {
    label, input, textarea { display : inline-block; }
    label { width : 38%; }
    input, textarea { width : 60%; }

    &.no-label { padding-left : 38%; }
  }
  &.block {
    label, input, textarea { display : block; width : 100%; }
  }

  /* Input SIZE */
  &.normal {}
  &.big {}

  /* Input THEME */
  &.default {}
  &.error {}
}

.field-radio {
  @include custom-radio-image('../images/icons/radio-btn.png', '../images/icons/radio-btn-selected.png', '.custom-radio', '.field-radio');
}

/* Input validation - ERROR MESSAGE */
.filed-validation-error {
  color       : #fff;
  font-family : Arial, Helvetica, sans-serif;
  @include rem(1.0);
}
