/* ==========================================================================
   GRID
   ========================================================================== */
.grid {
  @extend %clearfix;
  padding     : 0;
  margin-left : -$grid-padding;
  clear       : both;

  &.grid-pad {
    margin-bottom : $grid-padding;
  }

  &.inverse .col {
    float : right;
  }
}

.col {
  float        : left;
  padding-left : $grid-padding;

  &.sep-r {
    border-right  : 1px solid $third-color;
    padding-right : $grid-padding;

    @include breakpoint(phone) {
      border-right  : 0;
      padding-right : 0;
    }
  }
}

.col-1-2 {
  width : 50%;
  @include breakpoint(phone) {
    width : 100%;
  }
}

.col-1-2-small {
  width : 50%;
  @include breakpoint(phone-port) {
    width : 100%;
  }
}

.col-1-3 {
  width : 33.33%;
  position: relative;

  @include breakpoint(phone) {
    width : 100%;
  }
}

.col-1-3-small {
  width : 33.33%;
  @include breakpoint(phone-port) {
    width : 100%;
  }
}

.col-2-3 {
  width : 66.66%;
  @include breakpoint(phone) {
    width : 100%;
  }
}

.col-2-3-small {
  width : 66.66%;
  @include breakpoint(phone-port) {
    width : 100%;
  }
}

.col-1-4 {
  width : 25%;
  @include breakpoint(phone) {
    width : 100%;
  }
}

.col-1-4-small {
  width : 25%;
  @include breakpoint(phone-port) {
    width : 100%;
  }
}

.col-3-4 {
  width : 75%;
  @include breakpoint(phone) {
    width : 100%;
  }
}

.col-1-5 {
  width : 20%;
  @include breakpoint(phone) {
    width : 100%;
  }
}

