/* ==========================================================================
   ICONS
   ========================================================================== */
.icon {
  display         : inline-block;
  outline         : none;

  /* Icon - TYPE */
  &.block { display : block; }
  &.center { margin : 0 auto; }

  /* Icon - SIZE */
  &.normal { }
  &.big { }
  &.full { width : 100%; }

}