/* ==========================================================================
   MEDIA
   ========================================================================== */
%media {
  @extend %clearfix;

  .media-image {
    float    : left;
    position : relative;
    overflow : hidden;

    img {
      display : block;
      width   : 100%;
    }
  }

  .media-content {
    @extend %clearfix;
    float        : left;
    padding-left : 20px;
  }
}

.media-small {
  @extend %media;

  .media-image { width : 20%; }
  .media-content { width : 80%; }
}

.media-medium {
  @extend %media;

  .media-image { width : 30%; }
  .media-content { width : 70%; }
}

.media-big {
  @extend %media;

  .media-image { width : 60%; }
  .media-content { width : 40%; }
}