/* ==========================================================================
   MODULE
   ========================================================================== */
%module {
  @extend %clearfix;

  .module-content {
    padding : 20px;
    @extend %clearfix;

    *:last-child {
      margin-bottom : 0px !important;
    }
  }
}

.module-panel {
  @extend %module;
}

.module-search {
  @extend %module;
}

.module-article {
  @extend %module;
}
