/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
h1, h2, h3, h4{
  line-height: normal;
}

h1 {
  @include rem(2.6);
  margin : 0 0 20px 0;

  /* h1 - Sizes */
  &.small {}
  &.big {}
}

h2 {
  @include rem(2.2);
  margin : 0 0 20px 0;

  /* h1 - Sizes */
  &.small {}
  &.big {}
}

h3 {
  @include rem(1.8);
  margin : 0 0 20px 0;
}

h4 {
  @include rem(1.6);
  margin : 0 0 20px 0;
}