/* ==========================================================================
   VERTICAL RHYTHM
   ========================================================================== */
$base-font-size : 14px;
$base-line-height : 18px;
@include establish-baseline;

/* ==========================================================================
   COLORS
   ========================================================================== */
$first-color : #FFF;
$second-color : #CCC;
$third-color : #AAA;
$fourth-color : #888;
$fifth-color : #555;
$sixth-color : #333;

/* ==========================================================================
   WRAPPER SIZE
   ========================================================================== */
$max-width : 1024;
$min-width : 320;

/* ==========================================================================
   GRID SPACING
   ========================================================================== */
$grid-padding : 30px;

/* ==========================================================================
   SPRITES
   ========================================================================== */
$icons : sprite-map('icons/*.png', $spacing : 5px);
$images-dir : 'assets/images/'