/* ==========================================================================
   ACCORDION
   ========================================================================== */
.accordion {
  margin : 0;

  /* Accordion GLOBAL */
  .heading {
    cursor  : pointer;
    clear   : both;
    padding : 5px 0;
  }

  .content {
    max-height : 0;
    overflow   : hidden;
    @include transition(max-height 0.8s ease-in-out);
  }

  .opened .content {
    max-height : 500px;
    @include transition(max-height 1.6s ease-in-out);

    @include breakpoint(phone){
      max-height : 1000px;
    }
  }

  &.no-transitions .content {
    display    : none;
    max-height : none;
  }

  /* Accordion THEME */
  &.default {
    .heading {
      position      : relative;
      padding-left  : 10px;

      &:after {
        content  : '\+';
        position : absolute;
        top      : 5px;
        left     : 0;
        color    : $third-color;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .content {
      padding : 0 0 0 10px;
    }
    .opened {
      .heading:after {
        content  : '\-';
        position : absolute;
        top      : 5px;
        left     : 0;
        color    : $third-color;
      }
    }
  }

  &.action {}
}