/* ==========================================================================
   MODAL
   ========================================================================== */

/* Modal - MASK */
.modal-mask {
  @include transition(opacity 0.8s ease-in-out);
  @include opacity(0);
  background-color : rgb(0, 0, 0);
  background-color : rgba(0, 0, 0, 0.6);
  position         : fixed;
  top              : 0;
  left             : 0;
  z-index          : 999;

  &.active {
    @include opacity(1);
  }

  &.no-transitions {
    display : none;
  }
}
/* Modal - Global */
.sen-modal {
  position : absolute;
  z-index  : 1000;
  @include transition(transform 0.4s ease-in-out);
  @include scale(0);

  @include breakpoint(phone) {
    width: 100%;
  }

  &.active {
    @include transition(transform 0.8s ease-in-out);
    @include scale(1);
  }

  &.no-transitions {
    display : none;
  }

  .modal-close {
    @include retina-sprite('error');
    display  : block;
    z-index  : 1005;
    position : absolute;
    top      : 5px;
    right    : 5px;
    cursor   : pointer;
  }

  /* Modal - THEME*/
  &.default {}

}
