/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.main-nav {
  @extend %clearfix;
  position : relative;
  height   : 40px;
  float    : right;
  z-index  : 10;

  &.desktop-nav {
    > ul, .sub-menu {
      display : block !important;
    }
  }

  > ul {
    @extend %clearfix;
    @extend %reset-list;
    padding : 0;
    margin  : 0 auto;
    z-index : 9;
  }

  li {
    background-color : $fourth-color;
    float            : left;
    position         : relative;
    margin           : 0;
    padding          : 10px 0;

    &.current-menu-item, &.active {
      color : $fourth-color;
    }

    &:hover {
      > a {
        text-decoration : underline;
      }
      .sub-menu {
        @include breakpoint(tablet) {
          visibility : visible;
          opacity    : 1;
          @include transition(opacity 0.2s linear);
        }
        @include breakpoint(desktop) {
          visibility : visible;
          opacity    : 1;
          @include transition(opacity 0.2s linear);
        }
      }
    }

    &:first-child {
      a {
        border-left : 0;
        border-top  : 0;
      }
    }
  }

  a {
    @include rem(1.2);
    border-left    : 1px solid $sixth-color;
    display        : inline-block;
    text-align     : center;
    text-transform : uppercase;
    padding        : 0 20px;
    line-height    : normal;
  }

  .sub-menu {
    background-color : $third-color;
    position         : absolute;
    left             : 0;
    top              : 30px;
    margin           : 0;
    padding          : 0;
    min-width        : 200px;
    z-index          : 10;
    @include breakpoint(tablet) {
      visibility : hidden;
      opacity    : 0;
      overflow   : hidden;
      @include transition(visibility 0s 0.2s, opacity 0.2s linear);
    }
    @include breakpoint(desktop) {
      visibility : hidden;
      opacity    : 0;
      overflow   : hidden;
      @include transition(visibility 0s 0.2s, opacity 0.2s linear);
    }

    li {
      margin  : 0;
      padding : 0;
      width   : 100%;
    }

    a {
      border-left : 0;
      border-top  : 1px solid $first-color;
      display     : block;
      text-align  : left;
      padding     : 10px 20px;
    }
  }

  @include breakpoint(phone) {
    background-color : $first-color;
    width            : 100%;
    margin           : 20px 0;
    height           : auto;
    min-width        : 150px;

    ul {
      overflow : hidden;
      display  : none;
    }

    li {
      display : block;
      padding : 0;
      float   : none;
      width   : 100%;

      &:hover {
        > a {
          text-decoration : underline;
        }
        .sub-menu {
          display : none;
        }
      }
    }

    a {
      border-top  : 1px solid $first-color;
      border-left : 0;
      padding     : 10px 40px 10px 20px;
      text-align  : right !important;
      text-indent : 25px;
      width       : 100%;
    }

    .sub-menu {
      position : static;
      display  : none;

      li {
        background-color : $second-color;
      }
      a {
        padding : 10px 50px 10px 20px;
      }
    }

    #pull-btn {
      background-color : $sixth-color;
      border-top       : 0;
      display          : block;
      position         : relative;
      width            : 100%;
    }

  }
}

#pull-btn {
  @include icon('hotdog', 'right');
  display : none;
}

/* ==========================================================================
   LOCAL NAVIGATION
   ========================================================================== */
.local-nav {
  ul { }
  li { }
  a { }
}

/* ==========================================================================
   SUPPORT NAVIGATION
   ========================================================================== */
.support-nav {
  ul { }
  li { }
  a { }
}