/* ==========================================================================
   SLIDESHOW
   ========================================================================== */
.slideshow {
  @extend %clearfix;
  position                    : relative;
  z-index                     : 2;
  margin                      : 0 auto;
  margin-bottom               : 20px;
  -webkit-backface-visibility : hidden;
  -moz-backface-visibility    : hidden;

  .slide {
    @include opacity(0);
    position           : absolute;
    overflow           : hidden;
    top                : 0;
    left               : 0;
    -webkit-transition : opacity 1s ease-in-out;
    -moz-transition    : opacity 1s ease-in-out;
    -ms-transition     : opacity 1s ease-in-out;
    -o-transition      : opacity 1s ease-in-out;
    transition         : opacity 1s ease-in-out;

    &.current {
      @include opacity(1);
      height   : auto;
      position : relative;
    }
  }

  .slideshow-nav {
    position   : relative;
    text-align : center;
    z-index    : 99;
    width      : 100%;
  }

  .nav-btn {
    overflow : hidden;
    padding  : 2px;
    display  : inline-block;
    width    : 18px;
    height   : 18px;

    span {
      @extend %hide-text;
      @include border-radius(50%);
      width            : 100%;
      height           : 100%;
      background-color : $second-color;
      display          : block;
    }

    &.current {
      span { background-color : $third-color; }
    }
  }

  /* Slideshow - THEME */
  &.default {
    .slideshow-nav { }
    .nav-btn { }
  }
}
