/* ==========================================================================
   TABS
   ========================================================================== */
.tabs, .tabs-simple {

  .tab-nav {
    @extend %clearfix;
    @extend %reset-list;
    padding       : 0;
    width         : 100%;

    .tab-btn {
      position         : relative;
      float            : left;
      list-style-type  : none;
      margin-left      : 10px;
      text-align       : center;
      cursor           : pointer;
      border-bottom    : 0;
      z-index          : 9;

      &:active, &.active {
        background-color : $second-color;
        bottom           : -1px;
      }

      @include breakpoint(phone) {
        float         : none;
        border-bottom : 1px;
        bottom        : 0;
        margin-left   : 0;

        &:active, &.active {
          background-color : $second-color;
          bottom           : 0;
        }
      }

    }
  }

  .accordion-btn {
    width            : 100%;
    display          : block;
    cursor           : pointer;
  }

  .tab-content {
    background-color : $second-color;

    .tab {
      display   : block;
      opacity   : 0;
      height    : 0;
      overflow  : hidden;
      transform : translate3d(0, 0, 0);

      &.animated {
        @include transition(opacity 2s ease-out);
      }
    }

    .active {
      opacity : 1;
      height  : auto;
      padding : 10px 20px;
    }
  }

  /* Tabs SIZES */
  &.small {
    .tab-btn {
    }
  }
  &.normal {
    .tab-btn {}
  }

  /* Accordion THEME */

  &.default {
    .tab-nav {}
    .accordion-btn {}
  }
}

/* Accordion CONTROLS TOGGLE */
@include breakpoint(desktop) {
  .accordion-btn {
    display : none !important;
  }
}

@include breakpoint(tablet) {
  .accordion-btn {
    display : none !important;
  }
}

@include breakpoint(phone) {
  .tab-nav {
    display : none !important;
  }
}