/* ==========================================================================
   HELPERS
   ========================================================================== */
%reset-list {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

%hide-text { @include hide-text; }

%clearfix {
  *zoom : 1;

  &:before, &:after {
    content : "";
    display : table;
  }

  &:after {
    clear : both;
  }
}

.clear { clear : both; }
.f-left { float : left; }
.f-right { float : right; }
.t-left { text-align : left; }
.t-right { text-align : right; }
.t-center { text-align : center; }