/* ==========================================================================
   DIVIDED LIST MIXING
   ========================================================================== */
@mixin divided-list($spacing : 10px, $divider : "|") {
  @extend %reset-list;
  font-size : 0;

  li {
    @include rem($base-font-size);
    display        : inline-block;
    vertical-align : center;

    &:before {
      content : $divider;
      display : inline-block;
      vertical-align : middle;
      margin : 0 $spacing;
    }

    &:first-child:before {
      display : none;
    }
  }
}