$foo-id : '#foo' !default;// custom checkboxes and radio buttons

// custom checkboxes
// http://lea.verou.me/2011/05/rule-filtering-based-on-specific-selectors-support/
@mixin custom-checkbox-image($image, $image-checked, $selector : '', $foo-id : $foo-id) {

  #{$foo-id}:checked::before,
  input#{$selector}[type="checkbox"] {
    position : absolute;
    clip     : rect(0, 0, 0, 0);
    clip     : rect(0 0 0 0);
  }

  #{$foo-id}:checked,
  input#{$selector}[type="checkbox"] + label::before {
    content : url('#{$image}');
  }

  input#{$selector}[type="checkbox"]:checked + label::before {
    content : url('#{$image-checked}');
  }
}

// custom radio buttons
// http://lea.verou.me/2011/05/rule-filtering-based-on-specific-selectors-support/
//TODO: http://codepen.io/rgfx/pen/aixDn - Add animation

@mixin custom-radio-image($image, $image-checked, $selector : '', $foo-id : $foo-id) {

  #{$foo-id}:checked::before,
  input#{$selector}[type="radio"] {
    position : absolute;
    clip     : rect(0, 0, 0, 0);
    clip     : rect(0 0 0 0);
  }

  #{$foo-id}:checked,
  input#{$selector}[type="radio"] + label::before {
    content : url('#{$image}');
  }

  input#{$selector}[type="radio"]:checked + label::before {
    content : url('#{$image-checked}');
  }
}