/* ==========================================================================
   FONT SIZE IN REM MIXING
   ========================================================================== */
@mixin rem($size) {
  // fallback in pixels
  font-size : ($size * 10) + px;
  font-size : $size + rem;
}
