/* ==========================================================================
   VERTICAL CENTER MIXING
   ========================================================================== */
@mixin vertical-center-content($child) {
  font-size : 0;

  &:before {
    content : "";
    display : inline-block;
    height : 100%;
    vertical-align : middle;
  }

  #{$child} {
    @include rem($base-font-size);
    display : inline-block;
    vertical-align : middle;
  }
}